---

---

<div>
    <h2>Últimos Ingresos</h2>
    <ul>
        <li>Ingreso 1: $1000</li>
        <li>Ingreso 2: $500</li>
        <li>Ingreso 3: $750</li>
        <li>Ingreso 4: $1200</li>
        <li>Ingreso 5: $300</li>
    </ul>
</div>