---
import Cards2 from "../components/Cards2.astro";
---

<div class="container">
    <h2>Últimos <span style="color:#FFAF01;">Ingresos</span></h2>
    <Cards2/>
</div>

<style>
    .container{
        padding: 25px;
    }
</style>

